<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>LOGIC TO ADD A SONG HERE</h1>
    <form action="http://127.0.0.1:5000/api/v1/music" method="post">
        <input type="text" placeholder="Song name" name="songname">Enter the name of the Singer
        <br>
        <input type="text" placeholder="Film" name="film">Enter the name of the Film
        <br>
        <input type="text" placeholder="Music Director" name="musicdirector">Enter the name of the music director
        <br>
        <input type="text" placeholder="Singer" name="singer">Enter the name of the Singer
        <br>
        <button type="submit">SUBMIT</button>
    </form>
</body>
</html>